.searchSelect {
  margin-bottom: 15px;
}

.selectContainer {
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 5px;
}
.select {
  width: 100%;
  max-width: 140px !important;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1.05rem;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
.select:focus {
  outline: none;
}
.select:disabled {
  background-color: #f0f0f0;
}

option {
  padding: 5px;
}

.selectOption {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.selectOption:hover {
  background-color: #f0f0f0;
}
